# Excluded files
/.docker
/.idea
/.vscode
/.git
/public/storage
/bootstrap/cache/*
/storage/app/*
/storage/framework/views/*
/storage/logs/*
/tests
/vendor
.dockerignore
.editorconfig
.env.*
.editorconfig
.gitattributes
.gitignore
docker-compose.*.yml
docker-compose.yml
Makefile

# Included files
!/.docker/*/app/php-fpm.d
!/.docker/*/base/conf.d
!/.docker/*/base/php.ini
!/.docker/*/gateway/conf.d
!/.docker/*/gateway/nginx.conf
!/.docker/*/postgres/dumps
!/.docker/*/schedule/cron.d
